<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Website Icon-->
    <link rel="shortcut icon" type="image/x-icon" href="/images/bhclogo.png" />

    <!--CSS-->
    <!-- <link rel="stylesheet" href="./home_style.css" /> -->

    <!--Font-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <title>Bishop Heber College Sports</title>
    <link rel="stylesheet" href="/css/navbar.css">
</head>

<body>
    <header>
        <div class="nav-container">

            <!--Navigation Bar College Logo-->
            <div class="nav-college-logo">
                <img class="college-logo" src="./images/bhc_PE_2.png" alt="college logo" />
            </div>
            <nav class="nav-bar">

                <div class="nav-bar-media-q">


                    <div class="nav-bar-media-q-icon " onclick="myFunction(this)">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>


                    </div>
                    <script>
                        function myFunction(x) {
                            let y = document.getElementById("bar");
                            y.classList.toggle("nav-bar-ul-show");
                            x.classList.toggle("change");
                            console.log(y.classList);
                        }


                        function w3_open() {
                            document.getElementsByClassName("sidenav")[0].style.display = "block";
                        }
                        function w3_close() {
                            document.getElementsByClassName("sidenav")[0].style.display = "none";
                        }



                    </script>

                    <div class="nav-bar-media-q-button">
                        <button><a id="btn-registe-online">REGISTER ONLINE</a></button>
                    </div>
                </div>
                <div class="navigation-bar">
                    <ul class="nav-bar-ul " id="bar">
                        <!--HOME-->
                        <li class="nav-bar-li">
                            <a class="nav-bar-a" href="#">HOME</a>
                        </li>

                        <!--ABOUT US-->
                        <li class="nav-bar-li">
                            <a class="nav-bar-a" href="#">ABOUT US &nbsp;<i class="fa fa-caret-right"
                                    aria-hidden="true"></i></a>

                            <ul class="nav-bar-sub-ul">
                                <li>
                                    <a class="nav-bar-sub-a" href="#">&#187; Who we are</a>
                                </li>
                                <li>
                                    <a class="nav-bar-sub-a" href="#">&#187; Academy Tour</a>
                                </li>
                                <li>
                                    <a class="nav-bar-sub-a" href="#">&#187; Testimonial</a>
                                </li>
                                <li>
                                    <a class="nav-bar-sub-a" href="#">&#187; Advisory Bond</a>
                                </li>
                                <li>
                                    <a class="nav-bar-sub-a" href="#">&#187; Sister Concern</a>
                                </li>
                                <li>
                                    <a class="nav-bar-sub-a" href="#">&#187; Corporate Social Responsibility</a>
                                </li>
                                <li>
                                    <a class="nav-bar-sub-a" href="#">&#187; Download Prospect</a>
                                </li>
                            </ul>
                        </li>

                        <!--ACADEMIES-->
                        <li class="nav-bar-li">
                            <a class="nav-bar-a" href="#">ACADEMIES &nbsp;<i class="fa fa-caret-right"
                                    aria-hidden="true"></i></a>
                            <ul class="nav-bar-sub-ul">
                                <li class="super">
                                    <a class="nav-bar-sub-a" href="#">&#187; Cricket</a>
                                </li>
                                <li>
                                    <a class="nav-bar-sub-a" href="#">&#187; FootBall</a>
                                </li>
                                <li><a class="nav-bar-sub-a" href="#">&#187; Tennis</a></li>
                                <li><a class="nav-bar-sub-a" href="#">&#187; Chess</a></li>
                                <li>
                                    <a class="nav-bar-sub-a" href="#">&#187; Basketball</a>
                                </li>
                            </ul>
                        </li>

                        <!--INFRASTRUCTURE-->
                        <li class="nav-bar-li">
                            <a class="nav-bar-a" href="#">INFRASTRUCTURE &nbsp;<i class="fa fa-caret-right"
                                    aria-hidden="true"></i></a>
                            <ul class="nav-bar-sub-ul">
                                <li class="super">
                                    <a class="nav-bar-sub-a" href="#">&#187; 200 MTS Track and FootBall</a>
                                </li>
                                <li>
                                    <a class="nav-bar-sub-a" href="#">&#187; </a>
                                </li>
                                <li><a class="nav-bar-sub-a" href="#">&#187; Tennis</a></li>
                                <li><a class="nav-bar-sub-a" href="#">&#187; Chess</a></li>
                                <li>
                                    <a class="nav-bar-sub-a" href="#">&#187; Basketball</a>
                                </li>
                            </ul>
                        </li>

                        <!--ACHIEVEMENTS-->
                        <li class="nav-bar-li">
                            <a class="nav-bar-a" href="#">ACHIEVEMENTS &nbsp;<i class="fa fa-caret-right"
                                    aria-hidden="true"></i></a>
                            <ul class="nav-bar-sub-ul">
                                <li>
                                    <a class="nav-bar-sub-a" href="#">&#187; Sports Achievements</a>
                                </li>
                                <li>
                                    <a class="nav-bar-sub-a" href="#">&#187; Outdoor Achievements</a>
                                </li>
                            </ul>
                        </li>

                        <!--GALLERY-->
                        <li class="nav-bar-li">
                            <a class="nav-bar-a" href="#">GALLERY</a>
                        </li>

                        <!--NEWS AND EVENTS-->
                        <li class="nav-bar-li">
                            <a class="nav-bar-a" href="#">NEWS AND EVENTS &nbsp;<i class="fa fa-caret-right"
                                    aria-hidden="true"></i></a>
                            <ul class="nav-bar-sub-ul">
                                <li>
                                    <a class="nav-bar-sub-a" href="#">&#187; Media Coverage</a>
                                </li>
                                <li><a class="nav-bar-sub-a" href="#">&#187; Events</a></li>
                            </ul>
                        </li>

                        <!--CONTACT US-->
                        <li class="nav-bar-li">
                            <a class="nav-bar-a" href="#">CONTACT US &nbsp;</a>

                        </li>



                        <!--REGISTER ONLINE-->
                        <li class="nav-bar-li">
                            <div class="nav-bar-button">
                                <button><a id="btn-registe-online">REGISTER ONLINE</a></button>
                            </div>
                        </li>
                    </ul>

                </div>




            </nav>
        </div>
    </header>

</body>

</html>